<button
  class="XDocsPageNavigationItem"
  data-navigation-item="{{PAGE_NAVIGATION_ITEM_SUBMENU_NAME}}"
  data-navigation-item-expanded="{{PAGE_NAVIGATION_ITEM_SUBMENU_EXPANDED}}">
  {{PAGE_NAVIGATION_ITEM_SUBMENU_NAME}}
  <span class="XDocsPageNavigationItemArrow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor">
      <path d="M480-357.85 253.85-584 296-626.15l184 184 184-184L706.15-584 480-357.85Z"></path>
    </svg>
  </span>
</button>
<div
  class="XDocsPageNavigationSubmenu"
  data-navigation-submenu="{{PAGE_NAVIGATION_ITEM_SUBMENU_NAME}}"
  data-navigation-submenu-shown="{{PAGE_NAVIGATION_ITEM_SUBMENU_EXPANDED}}"
>
  {{PAGE_NAVIGATION_ITEM_SUBMENU_ITEMS}}
</div>